DISCORD_KRUBIT_APPLICATION_ID=123456789012345678
DISCORD_KRUBIT_BOT_TOKEN=
KRUBIT_DATABASE_PATH=data/krubit.db
KRUBIT_STAFF_CHANNEL_ID=
TWITCH_KRUBIT_CLIENT_ID=
TWITCH_KRUBIT_CLIENT_SECRET=
KRUBIT_LIVE_SIGNALS_ENABLED=false
